RewriteEngine On

RewriteBase /

RewriteCond %{HTTP_HOST} .
RewriteCond %{HTTP_HOST} https://tds23.github.io [NC]
RewriteRule (.*) https://tds23.github.io/$1 [R=301,L]

RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /([^/]+/)*index\.(htm(l)?|php)\ HTTP/
RewriteRule ^(([^/]+/)*)index\.(htm(l)?|php)$ https://tds23.github\.io/$1 [R=301,L]

RewriteCond %{HTTP_USER_AGENT} wget [NC]
RewriteRule .* - [F]

Options +FollowSymlinks
RewriteEngine On
RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http://(www.)?vk.com/ [nc]
RewriteRule .*.(gif|jpg|png)$ https://tds23.github.io/stop.gif[nc]

RewriteEngine On
RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http://(www.)?twitter.com/ [nc]
RewriteRule .*.(gif|jpg|png)$ https://tds23.github.io/stop.gif[nc]

RewriteEngine On
RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http://(www.)?facebook.com/ [nc]
RewriteRule .*.(gif|jpg|png)$ https://tds23.github.io/stop.gif[nc]

RewriteEngine On
RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http://(www.)?instagram.com/ [nc]
RewriteRule .*.(gif|jpg|png)$ https://tds23.github.io/stop.gif[nc]